@grey-color: rgba(0, 0, 0, .25);

.hello {
  font-size: 32px;
  font-weight: bold;
  color: #30b767;

  .deleted {
    //使用嵌套
    text-decoration: line-through;
    background-color: @grey-color; //使用变量
  }
}